.homeContainer {
    position: relative; /* Ensure relative positioning for children */
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    display: flex;
    flex-direction: column;
  
    .nav {
      position: absolute; /* Position navbar absolutely */
      top: 0; /* Place navbar at the top */
      left: 0; /* Align navbar to the left */
      width: 100%; /* Occupy full width */
      z-index: 1000; /* Ensure navbar is above other content */
    }
  
    .outletContainer {
      height: 100vh; /* Full viewport height */
      margin-top: 0; /* Remove any margin */
      position: relative; /* Position relative to handle other absolute elements */
      z-index: 1; /* Ensure outlet is below navbar */
      padding-top: 60px; /* Adjust based on the height of your navbar */
    }
  
    footer {
      position: relative; /* Ensure footer follows after the outlet */
      z-index: 1; /* Ensure footer is above other content */
    }
  }
  