.heading-text {
    display: inline-block;
    position: relative;
    font-size:2.5rem !important;
    font-family: 'Playfair Display', serif !important;
    margin: 3rem 0 !important;
}

.line {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 50%;
    border-bottom: 4px solid #A02321;
  }
