.heading-text {
    display: inline-block;
    position: relative;
    font-size: 1.7rem;
    font-family: 'Playfair Display', serif;
}

.line {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 50%;
    border-bottom: 4px solid #A02321;
  }
